In [1]:
#using keystone id

In [1]:
import pandas as pd
import psycopg2
import numpy as np



from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support.ui import WebDriverWait
import selenium.webdriver.support.expected_conditions as EC
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service



from tqdm import tqdm
tqdm.pandas()
import time



from bs4 import BeautifulSoup
import re

import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.mime.base import MIMEBase
from email import encoders

In [10]:
s = Service("../chromedriver_win32/chromedriver.exe")

In [11]:
chrome_opt=Options()
chrome_opt.add_argument("--incognito")
driver = webdriver.Chrome(service=s,options=chrome_opt)
capabilities = driver.capabilities
chrome_driver_version = capabilities['chrome']['chromedriverVersion']

# Print the ChromeDriver version
print("ChromeDriver version:", chrome_driver_version)

ChromeDriver version: 114.0.5735.90 (386bc09e8f4f2e025eddae123f36f6263096ae49-refs/branch-heads/5735@{#1052})

In [2]:
class postgres_conn:
    def getConn(self):
        try:
            connection = psycopg2.connect(user='postgres',
                                          password='postgres_007',
                                          host="1.pgsql.db.1digitalstack.com",
                                          port='5432',
                                          database='postgres')

            cursor = connection.cursor()
            # Print PostgreSQL Connection properties
            print(connection.get_dsn_parameters(), "\n")

            # Print PostgreSQL version
            return cursor, connection

        except (Exception, psycopg2.Error) as error:
            print("Error while connecting to PostgreSQL", error)
            return error, error
    def getConn2(self):
        try:
            connection = psycopg2.connect(user='postgres',
                                          password='reporting_007',
                                          host="2.pgsql.db.1digitalstack.com",
                                          port='5432',
                                          database='postgres')

            cursor = connection.cursor()
            # Print PostgreSQL Connection properties
            print(connection.get_dsn_parameters(), "\n")

            # Print PostgreSQL version
            return cursor, connection

        except (Exception, psycopg2.Error) as error:
            print("Error while connecting to PostgreSQL", error)
            return error, error


    def close_connection(self, cursor, connection):
        # closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")
            
pg = postgres_conn()
conn = pg.getConn()
conn2 = pg.getConn2()

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'postgres', 'host': '1.pgsql.db.1digitalstack.com', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'postgres', 'host': '2.pgsql.db.1digitalstack.com', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [3]:
job_id=input("Enter keystone ids with comma.").split(",")
days=input(" Enter no of days for which data needs brand mapping.\n")
job_id.append("")
tuple(job_id)

#64ad5178b732b6c8d30ed4fa,64a7aef292a955755975d804,64a7ab5792a955755975d6a0

Enter keystone ids with comma.64a439c13fd11b02cf3987e8
 Enter no of days for which data needs brand mapping.
6

('64a439c13fd11b02cf3987e8', '')

In [4]:
query = f"""
select brand,title,sku,job_name,channel_id
from ready.serp_details smd join ready.serp_mongo_details m on m.serp_mongo_id=smd.serp_mongo_id
where smd.crawl_date > now() - interval '{days} day' and keystone_job_id in {tuple(job_id)}
"""
serp_details = pd.read_sql_query(query, conn[1])

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142364\2162843895.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  serp_details = pd.read_sql_query(query, conn[1])

In [5]:
serp_details

,brand,title,sku,job_name,channel_id
0,Aberlour,Aberlour Cask Whisky 12 Year Old 700ml,792092,537 woolworths serp job,48
1,Chivas Regal,Chivas Regal 18 Year Old Scotch Whisky Gold Si...,384924,537 woolworths serp job,48
2,Dimple,Dimple Scotch Whisky 12 Years Old 700ml,907528,537 woolworths serp job,48
3,Dimple,Dimple Scotch Whisky 15 Years Old 700ml,93685,537 woolworths serp job,48
4,MDI,MDI Axe Warrior Target Throw Game,1074386756,537 woolworths serp job,48
...,...,...,...,...,...
176,Aberlour,Aberlour Cask Whisky 12 Year Old 700ml,792092,537 woolworths serp job,48
177,Finnlaigh,Finnlaigh Irish Whisky 700ml,360622,537 woolworths serp job,48
178,The Glenlivet,The Glenlivet Scotch 12 Year Old 12 Year Old 7...,93651,537 woolworths serp job,48
179,Glen Grant,Glen Grant Arboralis Single Malt Scotch Whisky...,90171,537 woolworths serp job,48
180,Chivas Regal,Chivas Regal 18 Year Old Scotch Whisky Gold Si...,384924,537 woolworths serp job,48

In [8]:
df.drop_duplicates(subset='sku', inplace=True)
df.dropna(subset='sku', inplace=True)
df.reset_index(drop=True, inplace=True)
df['seller_info']=''
df

,brand,title,sku,job_name,channel_id,categories,seller_info
0,Aberlour,Aberlour Cask Whisky 12 Year Old 700ml,792092,537 woolworths serp job,48,,
1,Chivas Regal,Chivas Regal 18 Year Old Scotch Whisky Gold Si...,384924,537 woolworths serp job,48,,
2,Dimple,Dimple Scotch Whisky 12 Years Old 700ml,907528,537 woolworths serp job,48,,
3,Dimple,Dimple Scotch Whisky 15 Years Old 700ml,93685,537 woolworths serp job,48,,
4,MDI,MDI Axe Warrior Target Throw Game,1074386756,537 woolworths serp job,48,,
...,...,...,...,...,...,...,...
123,Jameson,Jameson Irish Whisky 1l,915769,537 woolworths serp job,48,,
124,Jameson,Jameson Irish Whisky 700ml,21546,537 woolworths serp job,48,,
125,Suntory,Suntory Toki Blended Japanese Whisky 700ml,816979,537 woolworths serp job,48,,
126,Tullamore Dew,Tullamore Dew Irish Whisky 700ml,99576,537 woolworths serp job,48,,
127,Finnlaigh,Finnlaigh Irish Whisky 700ml,360622,537 woolworths serp job,48,,

In [12]:
for i in tqdm(range(0,len(df['sku']))):
    sku=df['sku'][i]
    url="https://www.woolworths.com.au/shop/productdetails/{}".format(sku)
    
    print('************************')
    print(i)
    print(url)
    category_list=[]
    driver.get(url)
    bs=BeautifulSoup(driver.page_source, "html.parser")
    try:
        div=bs.find("div",class_="partner")
        seller=div.find('a')
        df['seller_info'][i]=seller.text
        print(seller.text)
    except:
        print('woolworths')

  0%|                                                                                            | 0/5 [00:00<?, ?it/s]

************************
0
https://www.woolworths.com.au/shop/productdetails/792092

 20%|████████████████▊                                                                   | 1/5 [00:05<00:21,  5.50s/it]

woolworths
************************
1
https://www.woolworths.com.au/shop/productdetails/384924

 40%|█████████████████████████████████▌                                                  | 2/5 [00:38<01:05, 21.78s/it]

woolworths
************************
2
https://www.woolworths.com.au/shop/productdetails/907528

 60%|██████████████████████████████████████████████████▍                                 | 3/5 [01:08<00:50, 25.29s/it]

woolworths
************************
3
https://www.woolworths.com.au/shop/productdetails/93685

 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [01:40<00:28, 28.12s/it]

woolworths
************************
4
https://www.woolworths.com.au/shop/productdetails/1074386756

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142364\1897286384.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['seller_info'][i]=seller.text
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [02:16<00:00, 27.35s/it]

MyDeal

In [13]:
df.head()

,brand,title,sku,job_name,channel_id,categories,seller_info
0,Aberlour,Aberlour Cask Whisky 12 Year Old 700ml,792092,537 woolworths serp job,48,,
1,Chivas Regal,Chivas Regal 18 Year Old Scotch Whisky Gold Si...,384924,537 woolworths serp job,48,,
2,Dimple,Dimple Scotch Whisky 12 Years Old 700ml,907528,537 woolworths serp job,48,,
3,Dimple,Dimple Scotch Whisky 15 Years Old 700ml,93685,537 woolworths serp job,48,,
4,MDI,MDI Axe Warrior Target Throw Game,1074386756,537 woolworths serp job,48,,MyDeal

In [14]:
request_no=input("Enter the request number of the requests seperated with underscore(_) ")
#547_552
file='final_output_woolworths_aus_{}.xlsx'.format(request_no)

Enter the request number of the requests seperated with underscore(_) 2323

In [15]:
df.to_excel(file)

In [ ]:
email_user = 'alerts@1digitalstack.ai'
email_password = ''
email_send = ['nitin.bhayana@1digitalstack.ai','ghansham.pindoriya@1digitalstack.ai','karan.kumar@1digitalstack.ai','arihant.singh@1digitalstack.ai','sambhav.jain@1digitalstack.ai','ankur.dwivedi@1digitalstack.ai','kinshu@1digitalstack.ai']

subject = file
msg = MIMEMultipart()
msg['From'] = email_user
#msg['From'] = "'Abhishek' <{email_user}>"
msg['To'] = ', '.join(email_send)
msg['Subject'] = subject

body = 'Hi,\n\nPFA of today''s mapping request.Please reply as done as you pick this job.'
msg.attach(MIMEText(body,'plain'))

filename=[file]

for file in filename:
    attachment  =open(file,'rb')
    part = MIMEBase('application','octet-stream')
    part.set_payload((attachment).read())
    encoders.encode_base64(part)
    part.add_header('Content-Disposition',"attachment; filename= "+file)
    msg.attach(part)
    text = msg.as_string()

server = smtplib.SMTP('1digitalstack.com',25)
#server.login(email_user,email_password)

server.sendmail(email_user,email_send,text)
server.quit()