In [ ]:
## mercadolibre brand mapping
## Author : Nitin Bhayana 
## 10 June 2022
## version : 1.0

In [2]:

import numpy as np
from bs4 import BeautifulSoup


from tqdm.notebook import tqdm
import time

import pandas as pd
import psycopg2
import datetime

from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support.ui import WebDriverWait
import selenium.webdriver.support.expected_conditions as EC

from tqdm import tqdm
tqdm.pandas()
import time

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36",
           "Accept-Encoding": "gzip, deflate, br",
           "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
           "DNT":"1",
           "Connection":"close",
           "Upgrade-Insecure-Requests": "1"}

class postgres_conn:
    def getConn(self):
        try:
            connection = psycopg2.connect(user='postgres',
                                          password='postgres_007',
                                          host="1.pgsql.db.1digitalstack.com",
                                          port='5432',
                                          database='postgres')

            cursor = connection.cursor()
            # Print PostgreSQL Connection properties
            print(connection.get_dsn_parameters(), "\n")

            # Print PostgreSQL version
            return cursor, connection

        except (Exception, psycopg2.Error) as error:
            print("Error while connecting to PostgreSQL", error)
            return error, error
    def getConn2(self):
        try:
            connection = psycopg2.connect(user='postgres',
                                          password='reporting_007',
                                          host="2.pgsql.db.1digitalstack.com",
                                          port='5432',
                                          database='postgres')

            cursor = connection.cursor()
            # Print PostgreSQL Connection properties
            print(connection.get_dsn_parameters(), "\n")

            # Print PostgreSQL version
            return cursor, connection

        except (Exception, psycopg2.Error) as error:
            print("Error while connecting to PostgreSQL", error)
            return error, error


    def close_connection(self, cursor, connection):
        # closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")
            
pg = postgres_conn()
conn = pg.getConn()
conn2 = pg.getConn2()

job_id=input("Enter keystone ids with comma.").split(",")
days=input(" Enter no of days for which data needs brand mapping.\n")
job_id.append("")
tuple(job_id)

query = f"""
select brand,title,sku,job_name,channel_id
from ready.serp_details smd join ready.serp_mongo_details m on m.serp_mongo_id=smd.serp_mongo_id
where smd.crawl_date > now() - interval '{days} day' and keystone_job_id in {tuple(job_id)}
"""
serp_details = pd.read_sql_query(query, conn[1])

rawdf=serp_details.drop_duplicates('sku')

rawdf1=rawdf

df_ASIN = rawdf1[["sku"]]
df_ASIN.dropna(inplace=True)
df_ASIN.drop_duplicates(inplace=True)
asinlist = list(df_ASIN['sku'])
len(asinlist)


query_2 = f""" 
Select channel_sku_id,country_code, brand_name, categories,category_id
from entity.product_master
where channel_sku_id in {tuple(asinlist)} 
"""

pm_data = pd.read_sql_query(query_2, conn[1])



mapped_df=pd.merge(rawdf1,pm_data, how='left', left_on=['sku'],right_on=['channel_sku_id'])
mapped_df

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'postgres', 'host': '1.pgsql.db.1digitalstack.com', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'postgres', 'host': '2.pgsql.db.1digitalstack.com', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

Enter keystone ids with comma.6406c4d592d04690dfec10c7
 Enter no of days for which data needs brand mapping.
130

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_151328\3118012154.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  serp_details = pd.read_sql_query(query, conn[1])
C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_151328\3118012154.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ASIN.dropna(inplace=True)
C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_151328\3118012154.py:108: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pm_data = pd.read_sql_query(query_2, conn[1])

DatabaseError: Execution failed on sql '
Select channel_sku_id,country_code, brand_name, categories,category_id
from entity.product_master
where channel_sku_id in ()
': syntax error at or near ")"
LINE 4: where channel_sku_id in ()
                                 ^

In [2]:
df2=mapped_df[mapped_df['categories'].isnull()][['channel_id','sku','title','brand_name']]
df2

,channel_id,sku,title,brand_name
9,46,MLM-1932140489,Nutribullet Combo 1200w,NaN
52,46,MLM-655657821,Pack With 18 Chartpak Markers,NaN
111,46,MLM-1676758118,Household Multifunctional Nutrition Blender 11...,NaN
130,46,MLM-1894623119,Chefman Rj07-45-ss Jumbo Fryer 4.5 L Stainless...,NaN
177,46,MLM-1419026548,Hamilton Beach Eclipse Hbh755 2 L 3 Hp Industr...,NaN
...,...,...,...,...
1878,46,MLM-1789315399,Royal Prestige Easy Release Nonstick Frying Pan,NaN
1879,46,MLM-1432294704,Royal Prestige Battery (5pcs),NaN
1936,46,MLM-1369946019,Package Nutrininja Cups 18oz With Blade 6 Fema...,NaN
1944,46,MLM-821621973,01 Man Mini Blender Glass (porridge Coffee Bea...,NaN
1946,46,MLM-1462194062,Electric Air Fryer Xl 5l Rotisserie Ninja Af15...,NaN

In [3]:
df=pd.DataFrame(columns=['channel_sku_id','brand_name','categories','sold'])
df

Empty DataFrame
Columns: [channel_sku_id, brand_name, categories, sold]
Index: []

In [4]:
asinlist = list(df2['sku'])
len(asinlist)

69

In [5]:
batches=int(len(asinlist)/50 )+1
batches

2

In [6]:
asinlist

['MLM-1932140489',
 'MLM-655657821',
 'MLM-1676758118',
 'MLM-1894623119',
 'MLM-1419026548',
 'MLM-954781322',
 'MLM-1368902727',
 'MLM-1932116015',
 'MLM-748106266',
 'MLM-962383689',
 'MLM-1907576177',
 'MLM-2061627282',
 'MLM-1487023747',
 'MLM-2243741204',
 'MLM21426271',
 'MLM23213407',
 'MLM-1919293799',
 'MLM-1828431474',
 'MLM-901982304',
 'MLM-1932218887',
 'MLM-2375756250',
 'MLM-1917013387',
 'MLM-942619643',
 'MLM-2133001756',
 'MLM-1931886789',
 'MLM-2412252466',
 'MLM-1429201335',
 'MLM-1421714052',
 'MLM-807557261',
 'MLM19044793',
 'MLM-1924354771',
 'MLM-2407313334',
 'MLM-2246388968',
 'MLM-1889953193',
 'MLM-2412579696',
 'MLM-954777052',
 'MLM-956272886',
 'MLM-878904962',
 'MLM-2237884654',
 'MLM-1313708899',
 'MLM-1393709375',
 'MLM-1931886785',
 'MLM-2412252462',
 'MLM-1539876286',
 'MLM-1522156972',
 'MLM-949893867',
 'MLM21618840',
 'MLM-1778823360',
 'MLM-1457682979',
 'MLM21420324',
 'MLM-1351543302',
 'MLM24345298',
 'MLM-2083620084',
 'MLM-1730270787',
 'MLM-1372763474',
 'MLM-1309708655',
 'MLM-1471491084',
 'MLM-583488855',
 'MLM-679760324',
 'MLM-1851731967',
 'MLM-1324139884',
 'MLM-1527945298',
 'MLM-1700881852',
 'MLM-2385624292',
 'MLM-1789315399',
 'MLM-1432294704',
 'MLM-1369946019',
 'MLM-821621973',
 'MLM-1462194062']

In [ ]:
for batch in tqdm(range(0,len(asinlist))):
    print(batch)
    for val in (range(batch*50,(batch*50)+50)):
        i=asinlist[val]
        print(batch,i)
        if "-" in i:
            Url== "https://produto.mercadolibre.com.br/{}".format(i)
        else:
            Url="https://www.mercadolivre.com.br//p/{}".format(i)

        #Url = "https://produto.mercadolibre.com.br/{}".format(i)
        #Url = "https://articulo.mercadolibre.com.mx/{}".format(i)
        print(Url)
        value=''
        #s= get_session(proxies)
        r= requests.get(Url,headers=headers)

        soup=BeautifulSoup(r.content,'html.parser')

        try:
            main=soup.find('div',class_="ui-pdp-specs__table")
            labels=[labels.text for labels in main.find_all('th')]
            try:
                index=labels.index('Marca')
                value=soup.find_all('td')[index].text
                print(value)
            except:
                value= 'not available'
                print(value)
        except:
            pass

        try:
            main=soup.find('div',class_="ui-vpp-striped-specs")
            labels=[labels.text for labels in main.find_all('th')]
            try:
                index=labels.index('Marca')
                value=soup.find_all('td')[index].text
                print(value)
            except:
                value= 'not available'
                print(value)
        except:
            pass

        try:
            category=soup.find('div',class_="ui-pdp-breadcrumb")
            cats=[labels.text for labels in category.find_all('li')]
            print(cats)
        except:
            cats=[]

        try:
            sales=soup.find('div',class_='ui-pdp-header')
            d=sales.find('span',class_='ui-pdp-subtitle')
            sold=d.text
            print(sold)
        except:
            sold='na'
            print(sold)

        df1={'channel_sku_id': i, 'brand_name': value, 'categories': cats, 'sold':sold}
        df=df.append(df1, ignore_index = True)
    time.sleep(300)

  0%|                                                                                           | 0/69 [00:00<?, ?it/s]

0
0 MLM-1932140489
https://articulo.mercadolibre.com.mx/MLM-1932140489
Nutribullet
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Bebidas', 'Licuadoras']
Usado
0 MLM-655657821
https://articulo.mercadolibre.com.mx/MLM-655657821

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Chartpak
['Arte, Papelería y Mercería', 'Papelería', 'Escolar', 'Escritura', 'Marcadores y Marcatextos']
Nuevo  |  +5 vendidos
0 MLM-1676758118
https://articulo.mercadolibre.com.mx/MLM-1676758118

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Silver Crest
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Bebidas', 'Licuadoras']
Nuevo  |  +50 vendidos
0 MLM-1894623119
https://articulo.mercadolibre.com.mx/MLM-1894623119

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Chefman
['...', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Alimentos', 'Freidoras', 'De Aceite']
Nuevo
0 MLM-1419026548
https://articulo.mercadolibre.com.mx/MLM-1419026548

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Hamilton Beach
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Bebidas', 'Licuadoras']
Nuevo
0 MLM-954781322
https://articulo.mercadolibre.com.mx/MLM-954781322

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Ninja
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Bebidas', 'Licuadoras']
na
0 MLM-1368902727
https://articulo.mercadolibre.com.mx/MLM-1368902727

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Ninja
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Bebidas', 'Licuadoras']
Nuevo  |  +25 vendidos
0 MLM-1932116015
https://articulo.mercadolibre.com.mx/MLM-1932116015

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Nutribullet
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Bebidas', 'Licuadoras']
Usado
0 MLM-748106266
https://articulo.mercadolibre.com.mx/MLM-748106266

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

Hamilton Beach
['Electrodomésticos', 'Pequeños Electrodomésticos', 'Para Cocina', 'Preparación de Alimentos', 'Vaporeras']
Nuevo  |  +100 vendidos
0 MLM-962383689
https://articulo.mercadolibre.com.mx/MLM-962383689

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_142992\3236900016.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1, ignore_index = True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
final1=pd.merge(rawdf1,df,left_on='sku', right_on='Asin', how= 'right')
final=final1[['sku','title','Asin','Brand','Category','sold']]

In [ ]:
final

In [ ]:
request_no=input("Enter the request number of the requests seperated with underscore(_) ")
#547_552
file='final_output_carrefour_spain_{}.xlsx'.format(request_no)

In [ ]:
final.to_excel(file)

In [ ]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.mime.base import MIMEBase
from email import encoders

email_user = 'alerts@1digitalstack.ai'
email_password = ''
email_send = ['nitin.bhayana@1digitalstack.ai','sambhav.jain@1digitalstack.ai','ghansham.pindoriya@1digitalstack.ai','karan.kumar@1digitalstack.ai','tanuja.thakur@1digitalstack.ai']

subject = file
msg = MIMEMultipart()
msg['From'] = email_user
#msg['From'] = "'Abhishek' <{email_user}>"
msg['To'] = ', '.join(email_send)
msg['Subject'] = subject

body = 'Hi,\n\nPFA of today''s brand mapping of mercodilibre'
msg.attach(MIMEText(body,'plain'))

filename=[file]

for file in filename:
    attachment  =open(file,'rb')
    part = MIMEBase('application','octet-stream')
    part.set_payload((attachment).read())
    encoders.encode_base64(part)
    part.add_header('Content-Disposition',"attachment; filename= "+file)
    msg.attach(part)
    text = msg.as_string()

server = smtplib.SMTP('1digitalstack.com',25)
#server.login(email_user,email_password)

server.sendmail(email_user,email_send,text)
server.quit()

In [ ]:
final

In [ ]:
Url ='https://articulo.mercadolibre.com.mx/MLM-1422791955'

In [ ]:
r= requests.get(Url,headers=headers)
soup=BeautifulSoup(r.content,'html.parser')
main=soup.find('div',class_="ui-pdp-description")
main

In [ ]:
main

In [ ]:
labels=[labels.text for labels in main]
labels

In [ ]:
try:
            main=soup.find('div',class_="ui-pdp-specs__table")
            labels=[labels.text for labels in main.find_all('th')]
            try:
                index=labels.index('Marca')
                value=soup.find_all('td')[index].text
                print(value)
            except:
                value= 'not available'
                print(value)
        except:
            pass

In [ ]:
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support.ui import WebDriverWait
import selenium.webdriver.support.expected_conditions as EC
#from tqdm.notebook import tqdm
from tqdm import tqdm
tqdm.pandas()
import time

In [ ]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--incognito")
driver = webdriver.Chrome(executable_path = r'C:\Users\Administrator\Desktop\chromedriver.exe',chrome_options = chrome_options)

In [ ]:
link=Url

In [ ]:
        print(link)
        driver.get(link)
        WebDriverWait(driver, timeout).until(EC.visibility_of_element_located((By.ID, locator)))